body{
    font-family: "Helvetica", sans-serif;
}

header{
    background-color: rgb(58, 70, 236);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
}

header h1{
    color: rgb(247, 247, 247);
    font-size: 40px;
    margin-left: 15%;
    float: left;
    width: 40%;
}

header label, header form #login{
    color: rgb(247, 247, 247);
}

header form #login{
    background-color: rgb(45, 57, 219);
    margin-left: 10px;
    border-radius: 5px;
}

header form{
    margin-top: 30px;
    font-size: 14px;
}

header form #email-div{
    margin-right: 20px;
    float: left;
}

header form #password-div{
    float: left;
}

a{
    text-decoration: none;
}

header a {
    font-size: 12px;
    color: rgb(214, 206, 206);
}

a:hover{
    text-decoration: underline;
}

main{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
}

main div input{
    border-radius: 10px;
}

main #left-div{
    margin-left: 15%;
    margin-bottom: 50%;
    float: left;
    width: 40%;
}

main #right-div input[type="text"] {
    width: 180px;
    height: 30px;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
}

main #right-div #new-email, main #right-div #new-password{
    width: 375px;
    height: 30px;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
}

main #right-div input[type="submit"]{
    width: 200px;
    height: 40px;
    background-color: rgb(56, 221, 14);
    color: rgb(247, 247, 247);
    font-size: 18px;
}

#policy{
    font-size: 12px;
    color: gray;
    margin-right: 350px;
}

#policy a{
    color: rgb(45, 57, 219);
}